<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registerUserVerification</servlet-name>
        <servlet-class>registerUserVerification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyCode</servlet-name>
        <servlet-class>verifyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KycVerificationServlet</servlet-name>
        <servlet-class>KycVerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanRequestServlet</servlet-name>
        <servlet-class>LoanRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SanctionProcessServlet</servlet-name>
        <servlet-class>SanctionProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerUserVerification</servlet-name>
        <url-pattern>/registerUserVerification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyCode</servlet-name>
        <url-pattern>/verifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KycVerificationServlet</servlet-name>
        <url-pattern>/KycVerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanRequestServlet</servlet-name>
        <url-pattern>/LoanRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SanctionProcessServlet</servlet-name>
        <url-pattern>/SanctionProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>filter</filter-name>
        <filter-class>MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter</filter-name>
        <url-pattern>/customerDashboard.jsp</url-pattern>
        <url-pattern>/adminDashboard.jsp</url-pattern>
    </filter-mapping>
</web-app>
